@import "../modules/product-item";
@import "../modules/filters";
@import "../modules/popup";

.booking {
  margin: 100px 0;

  &__inner {
    display: flex;

    gap: 30px;
  }

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    gap: 20px;
  }

  &__filters {
    height: 100%;

    position: sticky;
    top: 100px;
  }
}

.item-popup-form {
  width: 400px;

  .input-block {
    &__label {
      font-size: 25px;
    }
    &__target {
      font-size: 30px;
    }
  }
}