.cards-block {
  &__list {
    display: flex;
    align-items: center;

    gap: 30px;
  }
}

.item-cards-block {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: hsl(var(--base-default-color), 25%);

  width: 500px;
  height: 300px;

  border-radius: 12px;

  padding: 20px;

  box-shadow: 2px 5px 10px rgba(black, .3);

  transition: transform .5s ease;

  &._card-mir {
    background-color: hsl(var(--base-default-color), 65%);
  }

  &._master-card {
    background-color: var(--green-color-hsl);
  }

  @media screen and (min-width: 991.98px) {
    &:hover {
      transform: scale(1.05);
    }
  }

  &__card-icon {
    position: absolute;
    bottom: 25px;
    right: 20px;
  }
}

._add-card {
  margin-left: 20px;

  button {
    padding: 20px 25px;

    background-color: transparent;
    color: white;

    border: 2px solid white;
    border-radius: 50%;

    box-shadow: 2px 5px 10px rgba(black, .4);


    transition: background-color .3s ease, color .3s ease, transform .3s ease;

    @media screen and (min-width: 991.98px) {
      &:hover {
        background-color: white;
        color: black;

        transform: scale(1.1);
      }
    }
  }
}

.info-card-block {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 20px;
}

.user-data-card {
  font-size: 20px;

  &__number {
    display: flex;
    //flex-direction: column;

    white-space: nowrap;

    overflow: hidden;

    span {
      transition: transform .5s ease, opacity .5s ease, visibility .5s ease, width .5s ease;
    }

    .hide {
      opacity: 1;
      visibility: visible;
      width: 160px;

      ._show-info & {
        opacity: 0;
        visibility: hidden;
        width: 0;

        transform: translateX(-100%);
      }
    }

    .show {
      //opacity: 0;
      //visibility: hidden;

      //height: 0;
      width: 0;
      opacity: 0;
      visibility: hidden;
      transform: translateX(100%);

      ._show-info & {
        width: 220px;
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
      }
    }
  }

  &__expires {
    margin: 0;

    height: 0;

    opacity: 0;
    visibility: hidden;

    transition: margin .3s ease, opacity .3s ease, visibility .3s ease, height .3s ease;

    ._show-info & {
      opacity: 1;
      visibility: visible;

      height: 21px;

      margin: 10px 0;
    }
  }

  &__delete {
    opacity: 0;
    visibility: hidden;

    height: 0;

    transition: opacity .3s ease, visibility .3s ease, height .3s ease;

    ._show-info & {
      opacity: 1;
      visibility: visible;

      height: 27px;
    }

    button {
      position: relative;
      cursor: pointer;

      color: var(--red-color-hsl);

      border: none;

      font-size: 20px;

      @media screen and (min-width: 991.98px) {
        &:after {
          content: '';

          position: absolute;
          bottom: 0;
          left: 0;

          width: 100%;
          height: 1px;

          background-color: var(--red-color-hsl);

          transform: scale(0);

          transition: transform .3s ease;
        }

        &:hover {
          &:after {
            transform: scale(1);
          }
        }
      }
    }
  }

  &__btn {
    margin-top: 10px;

    button {
      position: relative;

      cursor: pointer;

      background-color: transparent;

      font-size: 20px;

      border: none;
      color: white;

      @media screen and (min-width: 991.98px) {
        &:after {
          content: '';

          position: absolute;
          bottom: 0;
          left: 0;

          width: 100%;
          height: 1px;

          background-color: white;

          transform: scale(0);

          transition: transform .3s ease;
        }

        &:hover {
          &:after {
            transform: scale(1);
          }
        }
      }
    }
  }
}