.product-item {
  position: relative;
  text-align: center;
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  padding: 20px;
  transition: border-radius 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
}
@media screen and (min-width: 991.98px) {
  .product-item:hover {
    background-color: white;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .product-item:hover .product-item__controls {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
.product-item__picture {
  width: 300px;
  height: 300px;
  background-color: gray;
  border-radius: 12px;
}
.product-item__branch {
  font-size: 20px;
  margin-bottom: 15px;
}
.product-item__order-number {
  font-size: 20px;
  margin-bottom: 15px;
}
.product-item__price {
  font-size: 25px;
}
.product-item__controls {
  position: absolute;
  top: calc(100% - 2px);
  left: 0;
  z-index: 2;
  width: 100%;
  padding: 0 0 20px;
  background-color: white;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}
.product-item__controls button {
  border: 2px solid black;
  color: black;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
  transform: scale(0.8);
  transition: transform 0.3s ease;
}
@media screen and (min-width: 991.98px) {
  .product-item__controls button:hover {
    transform: scale(1);
  }
}

.info-product-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}
.info-product-item__name {
  font-size: 30px;
}
.info-product-item__model {
  font-size: 20px;
}

.rent-product-item {
  margin-bottom: 15px;
}
.rent-product-item__date {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 23px;
  margin-bottom: 10px;
}
.rent-product-item__day {
  font-size: 20px;
}

.product-filers__controls {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.product-filers__controls button {
  font-size: 27px;
  background-color: rgba(255, 255, 255, 0.8);
  transition: background-color 0.3s ease;
}
@media screen and (min-width: 991.98px) {
  .product-filers__controls button:hover {
    background-color: white;
  }
}

.item-product-filters {
  width: 400px;
  color: black;
  transform: translateY(-50px);
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.item-product-filters._loaded {
  opacity: 1;
  transform: translateY(0);
}
.item-product-filters:first-child .item-product-filters__head {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.item-product-filters:not(:last-child) {
  border-bottom: 1px solid black;
}
.item-product-filters:last-child._hide-filter .item-product-filters__head {
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
.item-product-filters:last-child .item-product-filters__body {
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
.item-product-filters__head {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  background-color: white;
  border-bottom: 1px solid black;
  transition: border-radius 0.2s ease, background-color 0.2s ease;
}
._hide-filter .item-product-filters__head {
  background-color: rgba(255, 255, 255, 0.8);
}
@media screen and (min-width: 991.98px) {
  .item-product-filters__head:hover {
    background-color: white;
  }
}
.item-product-filters__title {
  font-size: 30px;
}
.item-product-filters__icon {
  font-size: 30px;
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
._hide-filter .item-product-filters__icon {
  transform: rotate(0deg);
}
.item-product-filters__body {
  background-color: white;
  height: var(--body-height);
  transition: opacity 0.2s ease, visibility 0.2s ease, height 0.3s ease;
}
._hide-filter .item-product-filters__body {
  opacity: 0;
  visibility: hidden;
  height: 0;
}
.item-product-filters__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.item-product-filters__item {
  font-size: 30px;
}
.item-product-filters__item input {
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.item-product-filters__item label {
  cursor: pointer;
  margin-left: 10px;
}

.booking {
  margin: 100px 0;
}
.booking__inner {
  display: flex;
  gap: 30px;
}
.booking__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.booking__filters {
  height: 100%;
  position: sticky;
  top: 100px;
}

/*# sourceMappingURL=booking.css.map */
