.profile {
  margin: 150px 0;
}
.profile__inner {
  position: relative;
  display: flex;
  gap: 70px;
}
.profile-content {
  flex: 0 1 50%;
}
.profile-content__title {
  font-size: 35px;
  margin-bottom: 30px;
}
.profile-content__inner {
  display: flex;
  flex-direction: column;
  gap: 70px;
}
.profile-sidebar {
  position: sticky;
  top: 100px;
  left: 30px;
  height: 100%;
}
.profile-sidebar__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
}
.profile-sidebar__avatar {
  border-bottom: 1px solid white;
  padding-bottom: 20px;
}
.profile-sidebar__avatar span {
  display: block;
  width: 200px;
  height: 200px;
  background-color: gray;
  border-radius: 50%;
}
.profile-sidebar__controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.profile-sidebar__controls button {
  font-size: 25px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  transition: background-color 0.3s ease, color 0.3s ease;
}
@media screen and (min-width: 991.98px) {
  .profile-sidebar__controls button:hover {
    background-color: white;
    color: black;
  }
}

.info-profile-sidebar__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
.info-profile-sidebar__item h3 {
  font-size: 25px;
  margin-bottom: 15px;
}
.info-profile-sidebar__item span {
  font-size: 20px;
}

.booking-history-profile__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.booking-history-profile__btn {
  margin-top: 100px;
  text-align: center;
}
.booking-history-profile__btn button {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}
@media screen and (min-width: 991.98px) {
  .booking-history-profile__btn button:hover {
    background-color: white;
    color: black;
    transform: scale(1.1);
  }
}

.cards-block__list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.item-cards-block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: hsl(var(--base-default-color), 25%);
  width: 500px;
  height: 300px;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s ease;
}
.item-cards-block._card-mir {
  background-color: hsl(var(--base-default-color), 65%);
}
.item-cards-block._master-card {
  background-color: var(--green-color-hsl);
}
@media screen and (min-width: 991.98px) {
  .item-cards-block:hover {
    transform: scale(1.05);
  }
}
.item-cards-block__card-icon {
  position: absolute;
  bottom: 25px;
  right: 20px;
}

._add-card {
  margin-left: 20px;
}
._add-card button {
  padding: 20px 25px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}
@media screen and (min-width: 991.98px) {
  ._add-card button:hover {
    background-color: white;
    color: black;
    transform: scale(1.1);
  }
}

.info-card-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.user-data-card {
  font-size: 20px;
}
.user-data-card__number {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
}
.user-data-card__number span {
  transition: transform 0.5s ease, opacity 0.5s ease, visibility 0.5s ease, width 0.5s ease;
}
.user-data-card__number .hide {
  opacity: 1;
  visibility: visible;
  width: 160px;
}
._show-info .user-data-card__number .hide {
  opacity: 0;
  visibility: hidden;
  width: 0;
  transform: translateX(-100%);
}
.user-data-card__number .show {
  width: 0;
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
}
._show-info .user-data-card__number .show {
  width: 220px;
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
.user-data-card__expires {
  margin: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: margin 0.3s ease, opacity 0.3s ease, visibility 0.3s ease, height 0.3s ease;
}
._show-info .user-data-card__expires {
  opacity: 1;
  visibility: visible;
  height: 21px;
  margin: 10px 0;
}
.user-data-card__delete {
  opacity: 0;
  visibility: hidden;
  height: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease, height 0.3s ease;
}
._show-info .user-data-card__delete {
  opacity: 1;
  visibility: visible;
  height: 27px;
}
.user-data-card__delete button {
  position: relative;
  cursor: pointer;
  color: var(--red-color-hsl);
  border: none;
  font-size: 20px;
}
@media screen and (min-width: 991.98px) {
  .user-data-card__delete button:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--red-color-hsl);
    transform: scale(0);
    transition: transform 0.3s ease;
  }
  .user-data-card__delete button:hover:after {
    transform: scale(1);
  }
}
.user-data-card__btn {
  margin-top: 10px;
}
.user-data-card__btn button {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  font-size: 20px;
  border: none;
  color: white;
}
@media screen and (min-width: 991.98px) {
  .user-data-card__btn button:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: white;
    transform: scale(0);
    transition: transform 0.3s ease;
  }
  .user-data-card__btn button:hover:after {
    transform: scale(1);
  }
}

.product-item {
  position: relative;
  text-align: center;
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  padding: 20px;
  transition: border-radius 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
}
@media screen and (min-width: 991.98px) {
  .product-item:hover {
    background-color: white;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .product-item:hover .product-item__controls {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
.product-item__picture {
  width: 300px;
  height: 300px;
  background-color: gray;
  border-radius: 12px;
}
.product-item__branch {
  font-size: 20px;
  margin-bottom: 15px;
}
.product-item__order-number {
  font-size: 20px;
  margin-bottom: 15px;
}
.product-item__price {
  font-size: 25px;
}
.product-item__controls {
  position: absolute;
  top: calc(100% - 2px);
  left: 0;
  z-index: 2;
  width: 100%;
  padding: 0 0 20px;
  background-color: white;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}
.product-item__controls button {
  border: 2px solid black;
  color: black;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
  transform: scale(0.8);
  transition: transform 0.3s ease;
}
@media screen and (min-width: 991.98px) {
  .product-item__controls button:hover {
    transform: scale(1);
  }
}

.info-product-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}
.info-product-item__name {
  font-size: 30px;
}
.info-product-item__model {
  font-size: 20px;
}

.rent-product-item {
  margin-bottom: 15px;
}
.rent-product-item__date {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 23px;
  margin-bottom: 10px;
}
.rent-product-item__day {
  font-size: 20px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.popup._popup-open {
  opacity: 1;
  visibility: visible;
}
.popup__inner {
  position: relative;
  padding: 40px 80px;
  background-color: var(--secondary-dark-color-hsl);
  border-radius: 12px;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.4);
  transform: scale(0.8) translateY(50px);
  transition: transform 0.2s ease;
}
._popup-open .popup__inner {
  transform: scale(1) translateY(0);
}
.popup__close {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 25px;
}
.popup__close span {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
}
.popup__close span:after, .popup__close span:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: white;
  transform: translateY(-50%);
}
.popup__close span:after {
  transform: rotate(45deg) translateY(-50%);
}
.popup__close span:before {
  transform: rotate(-45deg) translateY(-50%);
}
.popup__title {
  font-size: 35px;
  text-align: center;
  margin-bottom: 40px;
}

.form-popup__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.form-popup__btn {
  margin-top: 30px;
  text-align: center;
}
.form-popup__btn button {
  font-size: 25px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}
.form-popup__btn button:focus {
  transform: scale(1.1);
  background-color: white;
  color: black;
}
@media screen and (min-width: 991.98px) {
  .form-popup__btn button:hover {
    transform: scale(1.1);
    background-color: white;
    color: black;
  }
}

.input-block__title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}
.input-block__list {
  display: flex;
  align-items: center;
  gap: 15px;
}
.input-block__item {
  position: relative;
}
.input-block__icon {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  width: 70px;
  height: 100%;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-block__label {
  pointer-events: none;
  color: black;
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 21px;
  font-size: 20px;
  opacity: 1;
  visibility: visible;
  transform: translate(0, -50%);
  transition: transform 0.15s ease, opacity 0.18s ease, visibility 0.18s ease;
}
._typing .input-block__label {
  transform: translate(20px, -50%);
  opacity: 0;
  visibility: hidden;
}
._with-icon .input-block__label {
  left: 70px;
}
.input-block__target {
  font-size: 25px;
  padding: 10px 20px;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  width: 100%;
  border: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
._with-icon .input-block__target {
  padding-left: 70px;
}
.input-block__target:focus {
  outline: none;
  background-color: white;
}

.custom-select-input {
  color: black;
  font-size: 30px;
}
.custom-select-input input {
  display: none;
}
.custom-select-input__icon {
  transition: transform 0.3s ease;
}
._expend-select .custom-select-input__icon {
  transform: rotate(180deg);
}
.custom-select-input__head {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  padding: 15px 20px;
  border-radius: 40px;
  transition: border-radius 0.3s ease, background-color 0.3s ease;
}
.custom-select-input__head:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: black;
  transform: scale(0);
  transition: transform 0.3s ease;
}
._expend-select .custom-select-input__head {
  background-color: white;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
._expend-select .custom-select-input__head:after {
  transform: scale(1);
}

.options-custom-select {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  min-width: 100%;
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: opacity 0.2s ease, visibility 0.2s ease, transform 0.3s ease;
}
._expend-select .options-custom-select {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.options-custom-select__list {
  background-color: white;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  max-height: 305px;
  overflow: auto;
}
.options-custom-select__list::-webkit-scrollbar {
  width: 0;
}
.options-custom-select__item {
  cursor: pointer;
  text-align: center;
  padding: 10px 0;
  transition: background-color 0.3s ease;
}
.options-custom-select__item:not(:last-child) {
  border-bottom: 1px solid black;
}
@media screen and (min-width: 991.98px) {
  .options-custom-select__item:hover {
    background-color: hsl(var(--base-default-color), 90%);
  }
}

/*# sourceMappingURL=profile.css.map */
